In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_PostLinks = pd.read_xml(r"D:/mada/programming/Datasets/Stack over flaw/PostLinks.xml", parser="etree")

In [3]:
df_PostLinks

              Id             CreationDate  PostId  RelatedPostId  LinkTypeId
0            108  2010-07-21T14:47:33.983     395            173           1
1            145  2010-07-23T16:30:41.780     548            539           1
2            151  2010-07-24T09:11:01.413     536            590           1
3            217  2010-07-26T20:12:15.600     375             30           1
4            263  2010-07-27T16:00:22.133     769             31           1
...          ...                      ...     ...            ...         ...
103964  17458390  2023-09-02T16:15:18.733  624232         357466           1
103965  17458406  2023-09-02T16:40:31.167  623685         414349           1
103966  17458634  2023-09-02T23:38:27.123  625483         509547           1
103967  17458662  2023-09-03T01:30:33.197  625483         509547           3
103968  17458686  2023-09-03T02:44:58.893  625554         384111           3

[103969 rows x 5 columns]

In [4]:
df_PostLinks['LinkTypeId'].value_counts()

LinkTypeId
1    89076
3    14893
Name: count, dtype: int64